/programming/src/1Hello/Debug
/programming/src/1Hello/1Hello/*.user
/programming/src/1Hello/1Hello/Debug
/programming/src/1Hello/1Hello/*.filters
/programming/src/CMeta/Debug/*.log
/programming/src/CMeta/Debug/*.obj
/programming/src/CMeta/Debug/CMeta.tlog/*.tlog
/programming/src/BTemplate/Debug/*.pdb
/programming/src/BTemplate/Debug/*.idb
/programming/src/BTemplate/Debug/BTemplate.tlog/*.tlog
/programming/src/CMeta/Debug/*.idb
/programming/src/CMeta/Debug/*.pdb
/programming/src/CMeta/Debug/CMeta.tlog/*.lastbuildstate
/programming/src/BTemplate/Debug/BTemplate.tlog/*.lastbuildstate
/programming/src/1Hello/*.db
/programming/src/1Hello/ipch/2NAMESPACE-3fca48c0/*.ipch
/programming/src/1Hello/ipch/1HELLO-95cb78cd/*.ipch
/programming/src/1Hello/ipch/3MULTIPLE-d5c926e0/*.ipch
/programming/src/1Hello/ipch/4OVERLOAD-c8d9a542/*.ipch
*.ipch
*.lastbuildstate
*.obj
*.tlog
*.pdb
*.log
*.idb
*.filters
*.iobj
*.ipdb
*.exe
*.ilk
*.db
*.suo
*.user
*.opendb
/homework/score.xlsx
/software.related/ref/Google Java编程风格指南_files/*.css
/software.related/ref/Google Java编程风格指南_files/*.下载
/software.related/ref/Google Java编程风格指南_files/*.html
/software.related/ref/Google Java编程风格指南_files/*.php
/programming/2017/src/ch2/x64/Debug/*.lnk
/software/*.test
/software/testMain/testMain
